.p-5 {
    position: relative; /* Position relative for the container */
    display: inline-block; /* Ensures circular shape doesn't get affected */
    overflow: hidden; /* Hide overflowing elements */
}

.edit-option {
    display: none; /* Initially hidden */
    margin-top:6% ;
}

.p-5:hover .edit-option {
    display: block; /* Display when hovering over .p-5 element */
}

.custom-img {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    object-fit: cover; /* Maintains aspect ratio and covers the entire container */
}

.custom-ul {
    margin-top: 30px; /* Increase the top margin as needed */
    font-size: 1.2em; /* Increase the font size */
}

#hello, #where_to_go{
    color: white;
}

.panel-title {
    display: inline;
    font-weight: bold;
}
.display-table {
    display: table;
}
.display-tr {
    display: table-row;
}
.display-td {
    display: table-cell;
    vertical-align: middle;
    width: 61%;
}
.form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 5%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.star {
    font-size: 300%; /* Adjust the font size to change the star size */
    color: black; /* Change the color of the stars */
}

.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.country {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.country-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.country-name {
    margin-top: 5px;
    font-weight: bold;
    width: 70px;
    text-align: center;
}

.attraction-selection {
    display: flex;
    justify-content: left;
}

.selection-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

textarea {
    resize: none;
    overflow: hidden;
}



